RewriteEngine on

# Arquivos de acesso publico
RewriteRule (.*)public/(.*) ./src/Public/$2

# Arquivos "Controller" mapeados com acesso publico
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^controller/(.*) ./src/Controller/index.php [QSA,NC]

# Arquivos "Model" mapeados com acesso publico
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^model/(.*) ./src/Model/index.php [QSA,NC]

# Paginas do sistema
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ./index.php [QSA,NC]
